<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Member</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container" style="border: 1px skyblue solid;  border-radius: 10px; margin-top: 50px; margin-bottom: 50px">
    <div class="row" style="margin: 20px; border: skyblue 1px solid; border-radius: 10px; padding: 10px">
        <div class="col-sm-3" style="background-color:snow;margin: 10px; border-radius: 10px; border: whitesmoke 1px solid">
            <div class="text-center" style="padding-top: 20px">
                <a href="/"> <div class="fa fa-home" style="font-size:100px;color:darkslategrey "></div> </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="text-center" style="margin-bottom: 20px">
                <h1 style="margin-top: 50px">Page pour affhicer un club</h1>
            </div>
        </div>
    </div>



    <div class="row" style="border: 1px whitesmoke solid; margin: 20px; border-radius: 10px">

        <div class="col-sm-8" style="padding: 20px">
            <p th:text="'Club name: ' + ${club.clubName} + '!'" />
            <p th:text="'Description of club: ' + ${club.description} + '!'" />
            <p th:text="'administrator compte: ' + ${club.administrator.compte} + '!'" />
            <p th:text="'administrator password is: ' + ${club.administrator.password} + '!'" />
            <p th:text="'number of rest place: ' + ${club.nbMemberRest} + '!'" />
        </div>
    </div>
</div>

</body>

</html>