<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Enter Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Hello this is the page to enter the personnel info</h1>
    <p th:text="'Hello, ' + ${info} + '!'" />
    <p th:text="'Hello, ' + ${pdf.email} + '!'" />


    <form action="#" th:action="@{/pdf}" th:object="${pdf}" method="post">
        <table>
            <thead>
                <tr>
                          <th>option</th>                           <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label>name: </label></td> <td><input th:field="${pdf.name}"/></td>
                </tr>
                <tr>
                    <td><label>age: </label></td> <td><input th:field="${pdf.age}"/></td>
                </tr>
                <tr>
                    <td><label>adress: </label></td> <td><input th:field="${pdf.adress}"/></td>
                </tr>
                <tr>
                    <td><label>telephone: </label></td> <td><input th:field="${pdf.telephone}"/></td>
                </tr>
                <tr>
                    <td><label>email: </label></td> <td><input th:field="${pdf.email}"/></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" id="submitButtonInfoPerson" th:value="Save">
    </form>









</body>

</html>