<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clubs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>


<div class="container">
    <h1>Clubs</h1>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-sm-3" style="background-color:lavender;padding-top: 20px">
            <div class="text-center">
                <a href="/create_club"> <div class="fa fa-plus-square-o" style="font-size:80px;color:red"></div> </a>
            </div>
            <div class="text-center" style="margin-bottom: 20px">
                Clik to add a new club
            </div>
        </div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
    </div>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-sm-3" style="background-color:lavender;">
            <div class="fa fa-plus-square-o" style="font-size:80px;color:red"></div>
        </div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
    </div>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-sm-3" style="background-color:lavender;">
            <div class="fa fa-plus-square-o" style="font-size:80px;color:red"></div>
        </div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
    </div>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-sm-3" style="background-color:lavender;">
            <div class="fa fa-plus-square-o" style="font-size:80px;color:red"></div>
        </div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
    </div>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-sm-3" style="background-color:lavender;">
            <div class="fa fa-plus-square-o" style="font-size:80px;color:red"></div>
        </div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
    </div>
</div>



<!--<div class="container" style="border: 1px whitesmoke solid;  padding: 20px;">-->
    <!--<h1>this is page of clubs</h1>-->


    <!--<form class="form-horizontal" action="#" th:action="@{/sign_in}" th:object="${member}" method="post">-->
        <!--<div class="form-group">-->
            <!--<label  class="col-sm-2 control-label">Compte</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control" th:field="${member.compte}" placeholder="your email adress">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">password</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="password" class="form-control" th:field="${member.password}" placeholder="6-20 numbers or lettres ...">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<div class="col-sm-offset-2 col-sm-10">-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox"> remenber me-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<div class="col-sm-offset-2 col-sm-10">-->
                <!--<button type="submit" class="btn btn-default">Sign in</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
</body>

</html>