<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sgin In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1> Page for sgin in </h1>

<!--&lt;!&ndash;/*@thymesVar id="member" type="java"*/&ndash;&gt;-->
<!--<form action="#" th:action="@{/member}" th:object="${member}" method="post">-->
<!--<table>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td><label>name: </label></td> <td><input th:field="${member.name}"/></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><label>password: </label></td> <td><input th:field="${member.age}"/></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><label>verifie password: </label></td> <td><input /></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->

<!--<input type="submit" id="submitButtonMember" th:value="Valide">-->
<!--</form>-->

</body>

</html>