<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/new-opinion}" th:object="${opinion}" method="post">
    <input type="submit" id="submitButton" th:value="Save">
    <table>
        <thead>
        <tr>
            <th>Title</th>     <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input th:field="${opinion.title}"/></td>
            <td><input th:field="${opinion.description}"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>